<!-- Présentation en quelques ligne avec ma photo -->
<div class="container-fluid bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-md-6  text-center overflow-hidden">
        <div class="mt-5 py-5">
          <h2 class="display-5"><em>I'm Meissa</em></h2>
          <p class="lead">Lorem ipsum dolor sit,
            amet consectetur adipisicing elit.
            Excepturi nemo sed illo accusamus,
            possimus id impedit a commodi architecto nihil quos doloribus,
            ipsam molestias est nesciunt iusto doloremque veritatis. Incidunt?
          </p>
          <a class="btn btn-sm btn-outline-success" href="">About</a>
        </div>
      </div>
      <div class="col-md-4  text-center overflow-hidden">
        <div class="mb-5 p-2">
          <img class="img-fluid" src="assets/img/about.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Présentation en quelques ligne avec ma photo -->

<div class="container-fluid bg-about " id="about">
    <div class="container">
        <div class="row">
            <div class="container-fluid my-5">
                <h1 class="text-center ">About Me</h1>
                <hr class="hr-index border border-success border-1">
            </div>
            <div class="col-md-6  text-sm-start ">
                <div class="my-3 py-5">
                    <p class="display-5 fs-4"><em>
                        Expert en Développement Web <br>
                        Spécialisé en Angular, Spring, Laravel, <br>
                        SQL Oracle et Design UI/UX...<i class="bi bi-emoji-smile-fill"></i>

                    </em></p>
                    <hr class="hr-index2 border border-success border-1">
                    <p class="lead">Lorem ipsum dolor sit,
                        amet consectetur adipisicing elit.
                        Excepturi nemo sed illo accusamus,
                        possimus id impedit a commodi architecto nihil quos doloribus,
                        ipsam molestias est nesciunt iusto doloremque veritatis. Incidunt?
                    </p>
                    <a class="btn btn-sm btn-outline-success" href="">About</a>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid  bg-body-tertiary ">
    <br><br><br>
    </div>
<div class="container-fluid bg-body-tertiary ">
    <div class="container">
        <div class="row ">
            <div class="container-fluid my-5">
                <h1 class="text-center ">What Services I'm Providing</h1>
                <hr class="hr-index border border-success border-1">
            </div>
            <div class="col-sm-4  text-center py-1">
                <img src="assets/img/logo1.png" class="img-fluid border-4 rounded" alt="">
                <p class="p-3 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione impedit placeat at debitis. Placeat, odio ad! Harum maiores fuga enim, possimus delectus dolor iusto odio animi beatae, minima nostrum!</p>
            </div>
            <div class="col-sm-4 text-center py-1">
                <img src="assets/img/logo1.png" class="img-fluid border-4 rounded" alt="">
                <p class="p-3 fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit excepturi soluta corrupti ut vitae, nesciunt dolore impedit, et maxime rerum rem eos cumque, ea aspernatur eum. Minus nesciunt reiciendis maxime?</p>
            </div>
            <div class="col-sm-4  text-center py-1">
                <img src="assets/img/logo1.png"  class="img-fluid border-4 rounded" alt="">
                <p class="p-3 fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quaerat suscipit accusantium adipisci ratione quisquam, sint eum eaque necessitatibus numquam dicta obcaecati, sequi consequatur a repellendus sed maiores hic! Recusandae.</p>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid  bg-body-tertiary ">
<br><br><br>
</div>
<div class="container-fluid bg-body-tertiary ">
    <div class="container">
        <div class="row ">
            <div class="container-fluid my-5">
                <h1 class="text-center ">Work Experience</h1>
                <hr class="hr-index border border-success border-1">
            </div>

                <div class="col-sm-4 bg-light border text-center py-1">
                    <p class="p-3 fs-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione impedit placeat at debitis. Placeat, odio ad! Harum maiores fuga enim, possimus delectus dolor iusto odio animi beatae, minima nostrum!</p>
                </div>
                <div class="col-sm-4 bg-light border text-center py-1">
                    <p class="p-3 fs-5 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit excepturi soluta corrupti ut vitae, nesciunt dolore impedit, et maxime rerum rem eos cumque, ea aspernatur eum. Minus nesciunt reiciendis maxime?</p>
                </div>
                <div class="col-sm-4 bg-light border text-center py-1">
                    <p class="p-3 fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quaerat suscipit accusantium adipisci ratione quisquam, sint eum eaque necessitatibus numquam dicta obcaecati, sequi consequatur a repellendus sed maiores hic! Recusandae.</p>
                </div>
        </div>
    </div>
</div>
<div class="container-fluid  bg-body-tertiary ">
    <br><br><br>
</div>
<div class="container-fluid bg-about ">
    <div class="container">
        <div class="row ">
            <div class="container-fluid my-5">
                <h1 class="text-center ">Portfolio</h1>
                <hr class="hr-index border border-success border-1">
            </div>
            <div class="col-sm-4  text-center mb-5 py-1">
                <img src="assets/img/logo1.png" class="img-fluid border-4 rounded" alt="">
            </div>
            <div class="col-sm-4 text-center mb-5 py-1">
                <img src="assets/img/logo1.png" class="img-fluid border-4 rounded" alt="">
            </div>
            <div class="col-sm-4  text-center mb-5 py-1">
                <img src="assets/img/logo1.png"  class="img-fluid border-4 rounded" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  bg-body-tertiary ">
    <br>
<div class="container-fluid ">
    <div class="container">
        <div class="row ">
            <div class="container-fluid my-5">
                <h1 class="text-center "> Stay In Touch </h1>
                <p class="text-center ">Enter your email to register our newsletter subscription!</p>
                <hr class="hr-index border border-success border-1">
            </div>
            <div class="text-center py-1">
                <form action="" class="form-group">
                     <div class="mb-3" class="m-auto text-center"  style="width:500px;">
                        <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address...">
                        <a href="" class="btn btn-outline-success my-3">Subscribe</a>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
