<div class="container m-lg-5">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h5 class="card-title" (click)="onGetAllCommitter()"><strong>List of Committers</strong></h5>
      <form class="d-flex">
        <input class="form-control me-2" ngModel name="keyword" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <ng-container *ngIf="commits$ | async as result" [ngSwitch]="result.dataState">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        Loading...
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="bg-danger text-white alert-danger">
          {{result.errorMessage}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <table class="table" >
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First_Name</th>
            <th scope="col">Last_Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tel</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let com of result.data">
                <td>{{com.id}}</td>
                <td>{{com.first_name}}</td>
                <td>{{com.last_name}}</td>
                <td>{{com.email}}</td>
                <td>{{com.tel}}</td>

                <td>
            <tr>

          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </div>
